<header style="text-align: center; padding: 20px; background-color: #0fa5a5;">
  <a href="/">
      <img src="https://www.emojiall.com/images/120/skype/1f3cd-fe0f.png" alt="로고" style="display: inline-block; vertical-align: middle;">
  </a>
</header>