<header style="background-color: #0fa5a5">
    <a href="/" style="display: flex; justify-content: center; align-items: center; margin-left: 40px">
        <img src="https://www.emojiall.com/images/120/skype/1f3cd-fe0f.png" alt="로고" style="vertical-align: middle" />
    </a>
</header>
