<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel='stylesheet' href='<%= path %>stylesheets/style.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  </head>
  <body>
    <div class="icon-container">
      <a href="/signup" data-target="slide-out" class="sidenav-trigger right"><i class="material-icons"
          style="font-size: 45px; color: #ffffff">account_circle</i></a>
    </div>
    <%-include('header')%>
    <div class="container mx-auto p-4">
      
      <div class="flex gap-4 mb-6">
          <input type="text" placeholder="검색어 입력란" class="flex-grow p-2 border rounded-md">
          <button class="bg-blue-500 text-white px-6 py-2 rounded-md">검색</button>
      </div>
 
      <div id="category-container" class="grid grid-cols-3 gap-6">
      </div>
  </div>
    <%-include('footer')%>
  </body>
  <script src="<%= path %>javascripts/main.js"></script>
</html>
